@use '../../functions/functions.scss' as func;
$cursor: pointer;
$cursor-disabled: not-allowed;
$padding: 0.75rem !default;
$border-color: none;
$border-radius: 0.25rem !default;
$border-width: 0.123rem;
$border-style: solid;
$font-size: 1rem;
$font-weight: 400;
$margin: 0.25rem;
$text-decoration-disabled: line-through solid 0.15rem;
$transition: 0.3s !default;
